Source: wlanpi-bluetooth
Section: embedded
Priority: optional
Maintainer: Colin Vallance
Uploaders: Colin Vallance
Build-Depends: debhelper (>=9), build-essential
Standards-Version: 3.9.9
Homepage: https://github.com/crvallance/pota-bluetooth

Package: wlanpi-bluetooth
Architecture: any
Multi-Arch: foreign
Depends: systemd-networkd, avahi-daemon, bluez-tools
Description: WLAN Pi - bluetooth
 Enable Bluetooth features on the WLAN Pi.
